 <!-- start of weather widget -->
<!--                 <script src="/resources/js/controllers/weatherController.js"></script> -->
                <div class="col-md-6 col-sm-6 col-xs-12" ng-controller="weatherController">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="chineseChar">实时天气 </h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li >
						   <a ng-click="getWeather()"><i class="fa fa-refresh"></i></a>
						</li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-model="cityChosen">Bei Jing</a>
                            </li>
                            <li><a href="#" ng-model="cityChosen">An Yang</a>
                            </li> 
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="temperature"><b ng-bind="currentWeek">Monday</b>, <span ng-bind="theTime">07:30 AM</span>
                            <span>Beijing</span>
                            <span><b>CN</b></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-2">
                          <div class="weather-icon">
                            <canvas height="85" width="85" id="weatherIcon0"></canvas>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="weather-text">
                            <h2 ng-bind="cityName" class="chineseChar">Texas </h2>
                            <p ng-bind="weatherInfo" class="chineseChar">多云</p>
                            <p ng-bind="dateMoon" class="chineseChar">八月廿八</p>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="weather-text">
                            <h5 class="degrees chineseChar" >温度：<span ng-bind="temperature">23</span></h5>
                            <h5 class="percentCus chineseChar" >湿度：<span ng-bind="humidity">23</span></h5>
                            <h5 class="chineseChar" >风向：<span ng-bind="windDirect">无风</span></h5>
                            <h5 class="chineseChar" >风速：<span ng-bind="windSpeed">无风</span></h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="weather-text pull-left">
                          <div class="chineseChar charOverFlow">
                          	空气质量：<span ng-bind="airQuality">优</span> |
                          	活动建议：<span ng-bind="airDes" style="text-overflow:ellipsis;">以下 div 容器内的文本无法完全显示，可以看到它被裁剪了。</span>
                          </div>
                        </div>
                      </div>

                      <div class="clearfix"></div>
                       <div class="row weather-days">
                       
                        <div class="col-sm-2" ng-repeat="dayWeather in days5Weather">
                          <div class="daily-weather">
                            <h2 class="day chineseChar" >周<span ng-bind="dayWeather.week">一</span></h2>
                            <h3 class="degrees" ng-bind="dayWeather.info.day[2]">23</h3>
                            <h5 class="chineseChar" ng-bind="dayWeather.info.day[1]"></h5>
                            <!-- 这里使用 $index可以获取到 ng-repeat 中的list的index-->
                            <canvas id={{'weatherIcon'+($index+1)}} width="32" height="32"></canvas>
                            <!--  <p >{{$index}}</p>-->
                            <h5 class="chineseChar" ng-bind="dayWeather.info.day[4]"></h5>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- end of weather widget -->