<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./resources/bootstrap/css/bootstrap.min.css"></link>
  <script src="./resources/bootstrap/js/jquery-1.10.0.min.js"></script>
  <script src="./resources/bootstrap/js/bootstrap.min.js"></script>
  <title>英雄联盟英雄添加</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1>League of Legend</h1>
		<p>this is a templae showcasing the optional theme stylessheet included in bootstrap.Use it as starting point to 
		reate something more unique by buildin on or modifying it
		</p>
	</div>
	<div class="col-md-2">
		<img src="./resources/image/champions/Zyra_Square_0.png" alt="pic notfound" />
	</div>
	<div class="col-md-2">
		<img src="./resources/image/champions/Zilean_Square_0.png" alt="pic notfound"/>
	</div>
	<div class="col-md-2">
		<img src="./resources/image/champions/Ziggs_Square_0.png" alt="pic notfound"/>
	</div>
	<div class="col-md-2">
		<img src="./resources/image/champions/Zed_Square_0.png" alt="pic notfound"/>
	</div>
	<div class="col-md-2">
		<img src="./resources/image/champions/Zac_Square_0.png" alt="pic notfound"/>
	</div>
	<div class="col-md-2">
		<img src="./resources/image/champions/Yorick_Square_0.png" alt="pic notfound"/>
	</div>
	</div>
</body>
</html>